// Resets

// Box Sizing Reset
* {
    box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0; 
  }